html, body{
	height: 100vh;
}

.fill-heigth{
	height: calc(100vh - 40px);
}

.pointer{
	cursor: pointer;
}

.menu{
	height: 40px;
	padding: 5px 10px !important;
	margin: 0px;
	color: #fff;
}

.panel-top{
	height: 40px;
}

.panel-center{
	margin-top: 5px;
	height: calc(100% - 90px);
}

.panel-bottom{
	margin-top: 5px;
	height: 40px;
}

.list-group-item{
	padding: 3px !important;	
}

.btn-img{
	width: 24px;
	cursor: pointer;
}

#masterLogo{
    font-family: 'Shrikhand', cursive;
    color: white;    
}

#left{

}

#left .panel-top select{
	width: calc(100% - 32px);
}

#right{

}